@tailwind base;
@tailwind components;
@tailwind utilities;

.button-classic {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.button-classic:hover {
  opacity: 0.8;
}
